SERVER_TOKEN = "abc123"

AIRTABLE_API_KEY=""
AIRTABLE_BASE=""
AIRTABLE_TABLE_USERS=""
AIRTABLE_TABLE_COMPUTERS=""
AIRTABLE_TABLE_CURRENCY=""
AIRTABLE_TABLE_PLAYERS=""

HACKCLUB_AUTH_CLIENT_ID=""
HACKCLUB_AUTH_CLIENT_SECRET=""

BETTER_AUTH_SECRET=""